<footer class="bg-dark text-white py-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
                <h5 class="text-primary">
                    <i class="fas fa-graduation-cap me-2"></i>LearnHub
                </h5>
                <p class="text-white">
                    Empowering learners worldwide with quality education and innovative learning experiences.
                </p>
                <div class="social-links">
                    <a href="#" class="text-white me-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="text-white me-3"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
            
            <div class="col-lg-2 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold text-white">Quick Links</h6>
                <ul class="list-unstyled">
                    <li><a href="/" class="text-white text-decoration-none">Home</a></li>
                    <li><a href="/about" class="text-white text-decoration-none">About</a></li>
                    <li><a href="/contact" class="text-white text-decoration-none">Contact</a></li>
                    <li><a href="/cart" class="text-white text-decoration-none">Cart</a></li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold text-white">Categories</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white text-decoration-none">Programming</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Design</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Marketing</a></li>
                    <li><a href="#" class="text-white text-decoration-none">Business</a></li>
                </ul>
            </div>
            
            <div class="col-lg-3 col-md-6 mb-4">
                <h6 class="text-uppercase fw-bold text-white">Contact Info</h6>
                <ul class="list-unstyled text-white">
                    <li><i class="fas fa-envelope me-2"></i> info@learnhub.com</li>
                    <li><i class="fas fa-phone me-2"></i> +91 84013 80079</li>
                    <li><i class="fas fa-map-marker-alt me-2"></i> Pune, Maharashtra, India</li>
                </ul>
            </div>
        </div>
        
        <hr class="my-4">
        
        <div class="row align-items-center">
            <div class="col-md-6">
                <p class="text-white mb-0">&copy; 2025 LearnHub. All rights reserved.</p>
            </div>
            <div class="col-md-6 text-md-end">
                <a href="#" class="text-white text-decoration-none me-3">Privacy Policy</a>
                <a href="#" class="text-white text-decoration-none">Terms of Service</a>
            </div>
        </div>
    </div>
</footer>