/* App.css */
body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1b2838;
  color: #0b0c0d;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  padding: 2rem;
}

button {
  cursor: pointer;
}
/* App.css or index.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* light blue */
  font-family: Arial, sans-serif;
}
